{% extends 'base.html.twig' %}
{% block title %}
    {{ 'premier pokemon' }}
{% endblock %}

{%block stylesheets%}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/firstpokstyle.css') }}">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900'><link rel="stylesheet" href="./style.css">

{%endblock%}




{% block body %}

    <main id=app>

        <h1>Choisir votre premier Pokemon</h1>




        <section class="cards">
            <a href="/FirstPokemon/Salameche"><img src="img/Salameche.png"/></a>
            <a href="/FirstPokemon/Carapuce.png"><img src="img/Carapuce.png"/></a>
            <a href="/FirstPokemon/Bulbizare"><img src="img/Bulbizarre.png"/></a>
        </section>

    </main>

{% endblock %}
{% block javascripts %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script  src= asset('css/firstpokscript.css')   ></script>
{% endblock %}

