<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>pokedex</title>
    <link rel = "icon" href="{{ asset('img/pokemon.png') }}" type = "image/x-icon">
        <link href="{{ asset('css/index_style.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="infoList">
        <h1 class="text name">Bienvenue dans le POKEDEX</h1>
    </div>

<div class="support">
    <a href="/inscription" class="button-commencer"><span>Commencer </span> <i class="fa-solid fa-circle-arrow-right"></i></a>
</div>


</body>
</html>
